/ClientSimulator/ClientSimulator/*.filters
/YTTradeApi/YTTradeApi/*.filters
/YTBase/YTConn/YTConn/Debug/*.log
/ClientSimulator/ClientSimulator/Debug/*.log
/ClientSimulator/ClientSimulator/log/*.log
/ClientSimulator/ClientSimulator/Release/*.log
/YTBase/YTData/YTData/Debug/*.log
/YTBase/YTDb/YTDb/Debug/*.log
/YTTradeApi/YTTradeApi/Debug/*.log
/YTUnit/YTUnit/Debug/*.log
/ClientSimulator/ClientSimulator/Debug/*.manifest
/ClientSimulator/ClientSimulator/Release/*.manifest
/YTBase/YTConn/YTConn/Debug/*.manifest
/YTBase/YTData/YTData/Debug/*.manifest
/YTTradeApi/YTTradeApi/Debug/*.manifest
/ClientSimulator/*.ncb
/YTTradeApi/*.ncb
/ClientSimulator/ClientSimulator/Debug/*.obj
/ClientSimulator/ClientSimulator/Release/*.obj
/YTBase/YTConn/YTConn/Debug/*.obj
/YTBase/YTData/YTData/Debug/*.obj
/YTTradeApi/YTTradeApi/Debug/*.obj
/YTUnit/YTUnit/Debug/*.obj
/ClientSimulator/ClientSimulator/Debug/*.pch
/ClientSimulator/ClientSimulator/Release/*.pch
/YTTradeApi/YTTradeApi/Debug/*.pch
/ClientSimulator/ClientSimulator/Debug/*.pdb
/ClientSimulator/ClientSimulator/Release/*.pdb
/ClientSimulator/debug/*.pdb
/ClientSimulator/Release/*.pdb
/Debug/*.pdb
/YTBase/YTConn/YTConn/Debug/*.pdb
/YTBase/YTData/YTData/Debug/*.pdb
/YTBase/YTDb/YTDb/Debug/*.pdb
/YTTradeApi/YTTradeApi/Debug/*.pdb
/YTUnit/YTUnit/Debug/*.pdb
/ClientSimulator/ClientSimulator/Debug/*.tlog
/ClientSimulator/ClientSimulator/Release/*.tlog
/YTBase/YTConn/YTConn/Debug/*.tlog
/YTBase/YTData/YTData/Debug/*.tlog
/YTBase/YTDb/YTDb/Debug/*.tlog
/YTTradeApi/YTTradeApi/Debug/*.tlog
/YTTradeApi/YTTradeApi/Release/*.tlog
/YTUnit/YTUnit/Debug/*.tlog
/ClientSimulator/ClientSimulator/*.txt
/YTTradeApi/YTTradeApi/*.txt
/YTUnit/YTUnit/*.txt
